<%- include("partials/header"); -%>

<button id="getEmail">Get email</button>
<p id="emailValue">Email:</p>

<script src="https://code.jquery.com/jquery-3.6.0.js" type="text/javascript"></script>
<script src="/scripts/api.js"></script>

<%- include("partials/footer"); -%>